/* CSS dans bill page.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Pour empêcher le défilement de la page */
}

.full-screen-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cette propriété assure que l'image couvre entièrement son conteneur tout en préservant ses proportions */
}

.free {
    width: 900px;
    height: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1); /* Utilisation de rgba pour définir une couleur de fond semi-transparente */
}

/* Masquer le bouton backB lorsque l'overlay est activé */
/* CSS dans bill page.css */


#btnFree {
    width: 900px;
    height: 900px;
    border-radius: 50%; /* pour rendre le bouton rond */
    background-color: transparent; /* couleur de fond du bouton */
    border: none; /* supprimer la bordure */
    position: absolute; /* position absolue pour le placer où vous le souhaitez */
    top: 50%; /* position verticale au centre */
    left: 50%; /* position horizontale au centre */
    transform: translate(-50%, -50%); /* pour centrer le bouton */
    cursor: pointer;
}

.libre {
    width: 1500px; /* Modifiez la largeur comme désiré */
    position: absolute;
    top: 85%; /* Ajustez la position verticale comme désiré */
    left: 50%; /* Ajustez la position horizontale comme désiré */
    transform: translate(-50%, -50%);
}
#back.backB {
    position: absolute;
    top: 10px; /* Ajustez la position verticale comme désiré */
    left: -400px; /* Ajustez la position horizontale comme désiré */
    background-color: transparent; /* Rendre le bouton transparent */
    border: none; /* Supprimer la bordure */
    cursor: pointer;
    margin: 1%;
}
.backB img {
    width: 25%;
}

#back.backW {
    position: absolute;
    top: 10px; /* Ajustez la position verticale comme désiré */
    left: -400px; /* Ajustez la position horizontale comme désiré */
    background-color: transparent; /* Rendre le bouton transparent */
    border: none; /* Supprimer la bordure */
    cursor: pointer;
    margin: 1%;
}
.backW img {
    width: 25%;
}
/* Masquer le bouton backB lorsque l'overlay est activé */
#overlay.active #back.backB {
    display: none;
}

/* Masquer le bouton backW lorsque l'overlay n'est pas activé */
#overlay:not(.active) #back.backW {
    display: none;
}

/* Afficher le bouton backW lorsque l'overlay est activé */
#overlay.active #back.backW {
    display: block;
}

.nop{
    width: 35%; /* Modifiez la largeur comme désiré */
    position: absolute;
    top: 78%; /* Ajustez la position verticale comme désiré */
    left: 51%; /* Ajustez la position horizontale comme désiré */
    transform: translate(-50%, -50%);
}

/* CSS pour les écrans de taille moyenne à grande */
@media screen and (min-width: 768px) {
    /* Ajoutez vos styles CSS ici pour les écrans de taille moyenne à grande */
}

/* CSS pour les écrans de petite taille (comme les téléphones mobiles) */
@media screen and (max-width: 767px) {
    /* Ajoutez vos styles CSS ici pour les écrans de petite taille */
}

/* CSS pour les écrans très petits (par exemple, les montres intelligentes) */
@media screen and (max-width: 479px) {
    /* Ajoutez vos styles CSS ici pour les écrans très petits */
}
